@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300');

body,
html {
	margin: 0;
}

body {
	font-family: 'Titillium Web', sans-serif;
	background-color: #1c2541;
}

header {
	padding: 0.3em 0.6em;
	background-color: #0b132b;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu {
	cursor: pointer;
	color: #5bc0be;
}

.logo {
	font-size: 1.8em;
	font-weight: bold;
	color: #5bc0be;
	text-decoration: none;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #5bc0be;
	opacity: 0.9;
	overflow-x: hidden;
	padding-top: 40px;
	transition: 0.5s;
}

.sidenav a {
	padding: 10px 10px 10px 30px;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: bold;
	color: #0b132b;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	color: rgb(34, 59, 136);
}

.sidenav .btn-close {
	position: absolute;
	top: 0;
	right: 22px;
	font-size: 36px;
	margin-left: 180px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2em 0.6em;
	height: 100vh;
	color: #fff;
}

#profilbild {
	width: 12em;
}

#greeting {
	color: #fff;
	text-align: center;
	margin-bottom: 1em;
}

.btn {
	text-decoration: none;
	font-size: 1.2em;
	font-weight: bold;
	color: black;
	display: block;
	background-color: #5bc0be;
	padding: 0.3em 0.5em;
	cursor: pointer;
	border-radius: 3px;
}

.btn:hover {
	background-color: #6de2e0;
}

.cta-btn-home {
	animation-delay: 4s;
}

footer {
	bottom: 0;
	width: 100%;
	height: 3em;
	background-color: #3a506b;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
